.title {
    font-size: 19px;
}

.card {
    border-radius: 25px;
}

.authors {
    margin-top: 15px !important;
}

.fadeout {
    position:relative;
    background: #fff;
}

.fadeout:after {
    content:'';
    top:0;
    bottom:0;
    right:0;
    width:50%;
    background: linear-gradient(90deg ,transparent,white);
    position:absolute;
    z-index:1;
    pointer-events:none;
}
