span {
    display: block;
}

form {
    margin-top: 50px;
}

button {
    display: block;
}

.profile-input {
    border: .5px solid #e0e0e0 !important;
    max-width: 400px;
    box-shadow: none !important;
    border-radius: 100px !important;
    background-color: #fff !important;
    text-indent: 20px;
    box-sizing: inherit;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

label {
    margin-top: 200px !important;
    color: #fff !important;
    font-size: 20px;
}

.profile-labels {
    font-size: 20px;
}

.file-button {
    border-radius: 100px !important;
}

.profile-img {
    height: 100px;
    display: block;
}

.file-path {
    border-bottom: .5px solid #fff !important;
    box-shadow: none !important;
}

.submit {
    border-radius: 100px !important;
    margin-top: 50px;
}