
.header-font {
    font-weight: 300;
    color: #fff;
}

input[type=text], textarea {
    border: .5px solid #e0e0e0 !important;
    box-shadow: none !important;
    border-radius: 100px;
    background: url('~@/assets/images/search.png') no-repeat scroll 15px 14px;
    background-color: #e3f2fd;
    margin-top: 15px;
    text-indent: 40px;
    box-sizing: inherit;
}

focus::placeholder {
    color: #e3f2fd;
}