.header-font {
    font-weight: 300;
    color: #fff !important; 
}

.active {
    background-color: #1e88e5 !important;
}

.pagination {
    padding: 20px;
}

.noBook-msg {
    color: #0d47a1 !important;
}